@font-face {
    font-family: "Glass TTY VT320";
    src: url(Glass_TTY_VT220.ttf);
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 1em;
    padding: 0;
    background-color: var(--color-navy);
    color: var(--color-white);
    filter: blur(0.4px);
    font-size: 24px;
    font-family: "Glass TTY VT320";

    --color-yellow: #dddd00;
    --color-navy: #000044;
    --color-pink: #eebbbb;
    --color-green: #bbeebb;
    --color-blue: #bbbbee;
    --color-white: #dedddd;
}

h1 {
    text-align: center;
    font-size: inherit;
    outline: 2px solid var(--color-yellow);
    outline-offset: 1px;
}

h2 {
    text-align: center;
    font-size: inherit;
}

a, button {
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: none;
    outline: 2px solid var(--color-yellow);
    outline-offset: 1px;
}

a:focus, button:focus {
    outline: 2px dashed var(--color-yellow);
    outline-offset: 1px;
}

em {
    font-style: normal;
    color: var(--color-pink);
}

strong {
    font-style: normal;
    font-weight: normal;
    color: var(--color-green);
}

i {
    font-style: normal;
    font-weight: normal;
    color: var(--color-blue);
}

a:focus {
    outline: 2px dashed var(--color-yellow);
    outline-offset: 1px;
}

svg, img, object, picture, video, iframe {
    filter: url(pixelate.svg#pixelate);
    margin-left: auto;
    margin-right: auto;
    display: block;
} 

svg * {
    stroke-width: 2.5;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-yellow);
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-yellow);
}
input:focus, textarea:focus {
    font-family: inherit;
    font-size: inherit;
    border-bottom: 2px dashed var(--color-yellow);
}

textarea  {
    vertical-align: top; 
}

